.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: darkgreen;
}

.nav-element {
    text-decoration: none;
    margin: 1.5rem;
    color: white;
    line-height: 2rem;
}

.active {
    text-decoration: underline;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 30em) {
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 50em) {
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
}

body {
    margin: 0;

    height: 100%;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

    background-size: cover;

    background: rgb(2, 83, 46);

    background-repeat:no-repeat;

    background: -webkit-linear-gradient(rgb(2, 83, 46), rgb(43, 143, 88));

    background: -moz-linear-gradient(rgb(2, 83, 46),  rgb(43, 143, 88));

    background: -ms-linear-gradient(rgb(2, 83, 46), rgb(43, 143, 88));

    background: -o-linear-gradient( rgb(2, 83, 46),  rgb(43, 143, 88));

    background: linear-gradient(rgb(2, 83, 46),  rgb(43, 143, 88));

}